@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  font-family: var(--font-inter);
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

main {
  @apply min-h-screen w-screen;
}

h1,
h2 {
  font-family: var(--font-sora);
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

button {
  @apply min-w-32 rounded-full px-4 py-3 font-semibold leading-snug transition-colors duration-200 ease-in-out;
}

button:disabled {
  @apply cursor-not-allowed bg-gray-300 text-gray-500;
}

button:disabled:hover {
  @apply bg-gray-300 text-gray-500;
}

.button-primary {
  @apply bg-sky-700 text-white hover:bg-sky-800;
}

.button-secondary {
  @apply border border-sky-700 bg-white text-sky-700 hover:bg-sky-700 hover:text-white;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.toaster {
  @apply rounded-lg p-2;
}

.toaster-loading {
  @apply rounded-lg p-2;
}

.toaster-error {
  @apply rounded-lg p-2;
}

.toaste-success {
  @apply rounded-lg p-2;
}
