@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

main {
  @apply min-h-screen;
}

h1,
h2 {
  font-family: var(--font-sora);
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

button,
.button {
  @apply inline-flex min-w-32 cursor-pointer items-center justify-center gap-1 rounded-full px-3 py-2.5 font-semibold leading-snug transition-colors duration-200 ease-in-out;
}

button:disabled {
  @apply cursor-not-allowed bg-gray-300 text-gray-500;
}

.button-primary {
  @apply bg-sky-700 text-white hover:bg-sky-800;
}

.button-secondary {
  @apply border border-sky-700 bg-white text-sky-700 hover:bg-sky-700 hover:text-white;
}

.button-link {
  @apply text-slate-800 hover:text-sky-800;
}

.button-icon {
  @apply grid aspect-square place-items-center rounded-lg bg-slate-100 p-2 transition-colors duration-200 ease-in-out hover:bg-slate-200;
}

.link-icon {
  @apply grid place-items-center rounded-full bg-slate-200 fill-inherit p-2 transition-colors duration-200 ease-in-out hover:bg-slate-300;
}

.toaster {
  @apply inline-flex min-w-72 items-center gap-4 rounded-xl p-4 shadow;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
